@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="resetP-container-form d-flex justify-content-center align-items-center mt-5">

    <div class="resetP-form d-flex flex-column">
        <h1 class="fs-4 text-center mt-4">@ViewData["resetPForm.resetPassTitle"]</h1>
        <form method="get" class="login-input-form mx-5 " asp-area="Account" asp-controller="Connection" asp-action="Login" asp-route-culture="@Context.Request.Query["culture"]">
            <div class="input-email mb-4">
                <label class="mb-2">@ViewData["resetPForm.email"]</label>
                <input class="form-control"  required />
            </div>

            <div class="input-password mb-4">
                <label class="mb-2">@ViewData["resetPForm.newPassword"]</label>
                <input class="form-control" type="password"  required />
            </div>
            <div class="input-confirmPassword">
                <label class="mb-2">@ViewData["resetPForm.confirmPassword"]</label>
                <input class="form-control" type="password" required />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger error-msg-login"></div>
            <div class="mt-4">
                <button type="submit" class="login-btn text-white border-0">@ViewData["resetPForm.resetButton"]</button>
            </div>
        </form>
    </div>
</div>